@import 'nib'

global-reset()

*, *:before, *:after
  box-sizing border-box

html
  font-size 18px

#root
  position relative

section
  height 50vh
  width 100%
  transform translate3d(0,0,0)
  &:nth-child(even)
    background blue
  &[role="content"]
    .layout
      background violet
      margin 0 auto
      width 50%
      height 100%
  &[role="splash"]
    background-position 50% 0%
    background-size cover
    background-repeat no-repeat
  