#root
  section(role="splash" data-offset="25" data-src="/assets/forum.jpg")
    .layout
  section(role="content")
    .layout
  section(role="content")
    .layout
  section(role="splash" data-src="/assets/divo.jpg")
    .layout
  section(role="content")
    .layout
  section(role="splash" data-offset="" data-src="/assets/forum.jpg")
    .layout